<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<typeAliases>			
		<typeAlias type="com.iot.spring2.vo.ConnectionInfoVO" alias="ci" />
		<typeAlias type="com.iot.spring2.vo.TableVO" alias="tvo" />
		<typeAlias type="com.iot.spring2.vo.ColumnVO" alias="cvo" /> 
		<typeAlias type="com.iot.spring2.vo.UserInfoVO" alias="ui" />
		
	</typeAliases>

	<mappers> 		
		<mapper resource="sql/connection_info.xml" /> 
		<mapper resource="sql/user_info.xml" />
		
	</mappers>
</configuration>
